.login {
  text-align: center;
}

.login_modal {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  width: 20%;
  max-height: 70%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
}
.login_button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.login_form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}
